[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Windflaw Lite — Free WordPress Themes
Type=Link
URL=https://wordpress.org/themes/windflaw-lite/
Icon=text-html
